<!-- Main Css -->
<link href="assets/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/icons.css" />
<link rel="stylesheet" href="assets/css/tailwind.css" />

<!-- Data Tables Css -->
<link href="assets/datatables/datatables.min.css" rel="stylesheet"/>
<link href="assets/datatables/jQueryUI-1.13.2/jquery-ui.min.js" rel="stylesheet"/>
<link href="assets/datatables/DataTables-1.13.5/css/dataTables.jqueryui.min.css" rel="stylesheet"/>
<link href="assets/datatables/Responsive-2.5.0/css/responsive.jqueryui.min.css" rel="stylesheet"/>
<link href="assets/datatables/Buttons-2.4.0/css/buttons.jqueryui.min.css" rel="stylesheet"/>