<meta charset="UTF-8" />
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta content="Portal Situs Web Perangkat Daerah" name="description" />
<meta name="author" content="PI" />
<meta name="website" content="https://pepeve.id" />
<meta name="email" content="pdzeus83aw@gmail.com" />
<meta name="version" content="1.0.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline' fonts.googleapis.com; font-src 'self' 'unsafe-inline' https://fonts.gstatic.com/;">

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico" />